a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #cccccc;
}

p {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: #2e2d36;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 15px;
}

main {
    padding: 20px;
    padding-top: 30px;
}

main ul li {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

section {
    margin-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    height: 25px;
    width: 100%;
    background-color: #000;
    padding: 10px;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: row;
}

.header li {
    margin-right: 15px;
    margin-left: 5px;
    border-top: 5px solid #000;
}

#selected-page {
    margin-right: 10px;
    margin-left: 0;
    background-color: #2e2d36;
    border: 5px solid #2e2d36;
    border-bottom: 7px solid #2e2d36;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #141414;
    padding: 20px;
}

nav a {
    color: #ffffff;
}

nav a:hover {
    color: #cccccc;
}

nav ul {
    flex-direction: column;
}

nav li {
    margin-bottom: 10px;
}

.blog {
    margin-left: 140px;
    color: #ffffff;
}

.blog h1 {
    font-size: 36px;
}

.blog a {
    color: #ffffff;
}

.blog a:hover {
    color: #cccccc;
}

.blog ul {
    flex-direction: column;
}

table {
    border: 2px solid #ffffff;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 2px solid #ffffff;
    padding: 10px;
    text-align: left;
}

#current {
    background-color: #43424e;
}

#passed {
    background-color: #00500d;
}

#failed {
    background-color: #990000;
}